<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <meta name="description" content=""/>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"></meta>

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <title>工程宝|国内最权威的工程项目资料库</title>
  	<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="${ctx}/static/mobile/css/themes/default/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="${ctx}/static/mobile/css/themes/jqm-demos.css">
	<script src="${ctx}/static/js/jquery.js"></script>
	<script src="${ctx}/static/js/index.js"></script>
	<script src="${ctx}/static/js/jquery.mobile-1.4.5.min.js"></script>
    <style type="text/css">

</style>
</head>
<body>

    
	<!-- {!begin layout} -->
		<div data-role="header" style="overflow:hidden;">
				<h1>I'm a header</h1>
					<a href="#" data-icon="gear" class="ui-btn-right">Options</a>
					<div data-role="navbar">
						<ul>
							<li><a href="#">One</a></li>
							<li><a href="#">Two</a></li>
							<li><a href="#">Three</a></li>
						</ul>
					</div><!-- /navbar -->
		</div><!-- /header -->
       
       
       <div data-role="footer" class="nav-glyphish-example" data-theme="b">
				<div data-role="navbar" class="nav-glyphish-example" data-grid="d">
				<ul>
					<li><a href="#" id="chat" data-icon="custom">Chat</a></li>
					<li><a href="#" id="email" data-icon="custom">Email</a></li>
					<li><a href="#" id="skull" data-icon="custom">Danger</a></li>
					<li><a href="#" id="beer" data-icon="custom">Beer</a></li>
					<li><a href="#" id="coffee" data-icon="custom">Coffee</a></li>
				</ul>
				</div>
	  </div>
	
	<!-- {!end layout} -->
</body>
</html>
