<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <meta name="description" content=""/>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"></meta>

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <title>工程宝|国内最权威的工程项目资料库</title>
   <!-- Include the compiled Ratchet CSS -->
    <link href="/resources/mobile/css/ratchet.css" rel="stylesheet"></link>
    
    <!-- Include the compiled Ratchet JS -->
    <script src="/resources/js/jquery-1.11.1.min.js"></script>
    <script src="/resources/mobile/js/ratchet.js"></script>
    <style type="text/css">
.slider {
  margin-bottom: 0;
}
.slider img {
  width: auto;
  height: 150px;
}
.content-padded {
  margin: 30px 15px 15px;
}
</style>


<script lang="javascript">
$(document).ready(function(){
  

});

</script>
</head>
<body>

	<!-- {!begin layout} -->
	 <header class="bar bar-nav">
	  <button id="back" onclick="javascript:history.back();" class="btn btn-link btn-nav pull-left"><span class="icon icon-left-nav"></span></button>
	 <div class="title">项目详情</div>
    </header>
	 
	<!-- {!end layout} -->
    <div class="content">
       <ul class="table-view">
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
          <span class="badge-positive">优质项目</span>
                                             杭州万业置业有限公司余政储出(2013)54号地块一标未来城
            <p>项目为七幢11层至33层住宅楼，设沿街商铺和单层地下停车库，精装修。</p>
            <p>2014年05月至2017年03月</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <span class="badge-negative">一般项目</span> Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- Popover -->
     <div id="navPopover" class="popover">
<header class="bar bar-nav">
  <h1 class="title">Share this</h1>
</header>
<ul class="table-view">
  <li class="table-view-cell">Facebook</li>
  <li class="table-view-cell">WhatsApp</li>
  <li class="table-view-cell">Google+</li>
  <li class="table-view-cell">Tweet</li>
  <li class="table-view-cell">Pinterest</li>
  <li class="table-view-cell">Reddit</li>
  <li class="table-view-cell">Pocket</li>
  <li class="table-view-cell">Email</li>
</ul>
    </div>
</body>
</html>
