<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <title>工程宝|国内最权威的工程项目资料库</title>
    <link href="/resources/mobile/css/ratchet.css" rel="stylesheet"></link>
    <script src="/resources/js/jquery-1.11.1.min.js"></script>
    <script src="/resources/mobile/js/ratchet.js"></script>
    <style type="text/css">
.slider {
  margin-bottom: 0;
}
.slider img {
  width: auto;
  height: 150px;
}
.content-padded {
  margin: 30px 15px 15px;
}
</style>

<script lang="javascript">
$(document).ready(function(){
   

});

</script>
</head>
<body>

    <!-- Make sure all your bars are the first things in your <body> -->
	<!-- {!begin layout} -->
	    <header class="bar bar-nav">
      <a href="#navPopover">
                     全国地区            
          <span class="icon icon-caret"></span>
      </a>
      <a href="#navPopover">
                    项目类型                     
          <span class="icon icon-caret"></span>
      </a>
       <a href="#navPopover">
                     项目阶段                           
          <span class="icon icon-caret"></span>
      </a>
    </header>
	 <nav class="bar bar-standard bar-header-secondary">
      <div class="segmented-control">
        <a class="control-item active">
          <span class="tab-label"> 默认  </span>
        </a>
        <a class="control-item">
          <span class="tab-label"> 时间</span>
        </a>
        <a class="control-item">
          <span class="tab-label"> 热门</span>
        </a>
      </div>
    </nav>
	<div th:include="layout :: mfoot1" class="bar bar-footer bar-tab"></div>
	<!-- {!end layout} -->
    <div class="content">
       <ul class="table-view">
        <li class="table-view-cell">
          <a class="navigate-right" href="/project/1"  data-transition="slide-in">
          <span class="badge-positive">优</span>
                                             杭州万业置业有限公司余政储出(2013)54号地块一标未来城
            <p>项目为七幢11层至33层住宅楼，设沿街商铺和单层地下停车库，精装修。</p>
            <p>2014年05月至2017年03月</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <span class="badge-negative">普</span> Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
        <li class="table-view-cell">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            Note title goes here
            <p>Lorem ipsum dolor sit amet...</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- Popover -->
     <div id="navPopover" class="popover">
<header class="bar bar-nav">
  <h1 class="title">Share this</h1>
</header>
<ul class="table-view">
  <li class="table-view-cell">Facebook</li>
  <li class="table-view-cell">WhatsApp</li>
  <li class="table-view-cell">Google+</li>
  <li class="table-view-cell">Tweet</li>
  <li class="table-view-cell">Pinterest</li>
  <li class="table-view-cell">Reddit</li>
  <li class="table-view-cell">Pocket</li>
  <li class="table-view-cell">Email</li>
</ul>
    </div>
</body>
</html>
